#CARD
{
  background-color: #37517e;
  border-radius: 10px;

}

#msgcard
{
  border-radius: 50px;
}
#us
{
  color:white;
}

#lg
{
    background-color: #37517e;
}
#dt
{
color:whitesmoke;
}